<!--h1>New customer</h1-->
<div class="page_login">
    <div class="top_block"></div>
    <div class="mid_block">
        <%= render 'form' %>
    </div>
    <div class="bt_block"></div>
</div>
<%= link_to 'Back', customers_path %>
