    <div class="header-nav">
		<ul id="nav">
		    <li><a href="#">ดีลพิเศษวันนี้</a></li>
            <li><a href="#">ดีลที่ผ่านมา</a></li>
            <li><a href="#">พูดคุย</a></li>
			<li><a href="#">ช่วยเหลือ</a></li>
            <li><a href="#">มุมส่วนตัว</a></li>
        </ul>
		<ul class="account-coupon">

			<li><a href="#" class="login">เข้าระบบ</a></li>
			<li><a href="#">ลงทะเบียน</a></li>
			<li style="padding: 13px 30px  0  0">
                <img style="cursor:pointer" src="/images/theme/subscribe.png" border="0">
            </li>
		</ul>
    </div>
